<div class="edit-profile-page">
    <h4>Edit profile</h4>

    <ita-form form-name="editProfileForm" submit="editProfile()" submit-success="submitSuccess(data)">
        <ita-form-row field-name="firstName" field-label="First Name">
            <input type="text" ng-model="userData.firstName" name="firstName" class="form-control" id="firstName" placeholder="First Name" required="">
        </ita-form-row>
        <ita-form-row field-name="lastName" field-label="Last Name">
            <input type="text" ng-model="userData.lastName" name="lastName" class="form-control" id="lastName" placeholder="Last Name" required="">
        </ita-form-row>
        <ita-form-row field-name="email" field-label="Email">
            <input type="email" ng-model="userData.email" name="email"  class="form-control" id="email" placeholder="Email" required="" disabled="">
        </ita-form-row>
        <ita-form-row field-name="password" field-label="Password">
            <input type="password" ng-model="userData.password" name="password" class="form-control" id="password" placeholder="Password">
        </ita-form-row>
        <ita-form-row field-name="confirmPassword" field-label="Confirm Password">
            <input type="password" ng-model="userData.confirmPassword" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password">
        </ita-form-row>
        <button type="submit" class="btn btn-primary">Save</button>
    </ita-form>
</div>
