html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100%;
    margin: 0 10px -25px 10px;
}
.page-wrapper .page-buffer {
    height: 20px;
}

* html .page-wrapper {
    height: 100%;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    z-index: 2001;
}

#top-navbar .navbar-brand {
    padding: 5px 10px;
}
#top-navbar .navbar-brand img {
    max-height: 40px;
}

#content {
    margin: 15px;
}

.main-menu {
    background-color: #f0f0f0;
}
.main-menu ul {
    margin: 0;
    padding: 0
}